/* Custom Values */
:root {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-button: #ea0116;
  --color-highlight: #ea0116;
  --color-success: #63a615;

  --font-size-small: 1rem;
  --font-size-medium: 1.5em;
  --font-size-large: 3em;
  --font-size-xxlarge: 4em;
  --font-size-huge: 7em;
}

/* Set defaults */

body {
  box-sizing: content-box;
  margin: 0px 0px 0px 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* Fonts */

@font-face {
  font-family: "Fira Regular";
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Bold";
  src: url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
  font-display: swap;
}

/* Text Fonts */
p,
label {
  font-family: "Fira Regular", "Courier New", monospace;
  font-size: var(--font-size-small);
  color: var(--color-text);
  text-align: center;
  margin: 8px;
}

a {
  font-family: "Fira Regular", "Courier New", monospace;
  color: var(--color-text);
}

button,
input,
select,
textarea {
  font-family: "Fira Regular", "Courier New", monospace;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

select {
  border: 2px solid --color-background;
}

.button {
  font-family: "Fira Regular", "Courier New", monospace;
  font-size: var(--font-size-small);
  margin: 10px;
  color: var(--color-background);
  background-color: black;
  border: solid black;
  padding: 10px 20px;
  border-radius: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none; /*fallback for iOS*/
  text-decoration: transparent;
}

/* Headings */

h1,
h2,
h3 {
  font-family: "Archivo Black", Times, serif;
  font-size: var(--font-size-large);
  color: var(--color-text);
}

h1 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: var(--font-size-medium);
}

@media (max-width: 620px) {
  h1 {
    font-size: var(--font-size-medium);
    padding-top: 10px;
  }
}

/* Text Highlight */

.highlight {
  color: var(--color-highlight);
  border: solid #000000;
  background-color: var(--color-background);
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

footer {
  font-family: "Fira Regular", "Courier New", monospace;
  font-size: var(--font-size-small);
  color: var(--color-text);
  padding: 12px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 0px;
  max-width: 770px;
}

.selection-container {
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  height: 150px;
  width: 150px;
}

.row {
  display: flex;
  flex-direction: row;
}

.joker {
  background-color: var(--color-text);
  color: var(--color-background);
}

.joker-text {
  color: var(--color-background);
}

@media (max-width: 864px) {
  .bingo-board {
    width: 100%;
  }

  td,
  th {
    height: 25vw;
    width: 25%;
    padding: 0px;
    overflow-wrap: break-word;
  }
}

@media (max-width: 620px) {
  .box-text {
    font-size: xx-small;
    margin: 1px;
  }

  .button {
    font-size: x-small;
  }
}
